.auth {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;

    @media (max-width: 615px) {
        & {
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            
        }
    }
}