.featured-products {
    margin: 100px 200px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        h1 {
            flex: 2;
            text-transform: capitalize;
        }

        p {
            flex: 3;
            color: gray;
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    @media (max-width: 767px) {
        & {
            margin: 50px 20px;
        }
        .top {
            flex-direction: column;
        }
        .bottom {
            flex-direction: column;
            align-items: center;
        }
        &:last-of-type {
            margin-top: 107vh;
        }       
    }

}
