.footer {
  margin: 100px 200px 20px 200px;

  .top {
    display: flex;
    gap: 50px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;

      h1 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span {
        color: gray;
      }
    }
    .collapsible-section {
      display: none;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    .left {
      display: flex;
      align-items: center;

      .logo img {
        width: 65px;
        height: 50px;
      }

      .copyright {
        margin-left: 15px;
        font-size: 14px;
        color: gray;
      }
    }

    .right {
      li {
        list-style: none;
        display: inline;
        padding: 10px;
        font-size: 20px;
      }
    }
  }

  @media (max-width: 615px) {
    & {
      margin: 0;
    }
    .bottom {
      flex-direction: column;
      align-items: center;
      .left {
        flex-direction: column;
      }
      .right {
        flex-direction: column;
        ul {
          padding: 0;
          margin: 0;
        }

        li {
          display: inline-block; /* display items horizontally */
          margin: 10px;
          font-size: 30px;
        }
      }
    }
    .top {
      display: block;
      .item {
        display: none;
      }
      .collapsible-section {
        display: block;
      }
    }
  }
}
