.search-bar {
  // position: absolute;
  // width: 300px;
  // right: 20px;
  // top: 80px;
  // z-index: 999;
  // background-color: white;
  // padding: 20px;
  // border-radius: 5px;
  // box-shadow: 0px 0px 7px 2px rgba(50, 50, 50, 0.3);

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 1;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 9;
  padding: 20px 30px;

  .closeIcon {
    cursor: pointer;
    margin: 0 0 20px 0;

  }

  .search-label {
    font-size: 18px;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    line-height: 24px;
    margin: 0 0 20px 0;
    display: block;
  }

  .search-field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    width: 50%;
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  .search-suggestions {
    position: fixed;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 20px 0 0  0;
    justify-content: space-between;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
    }

    .details {
      width: 300px;
      h1 {
        font-size: 18px;
        font-weight: 500;
      }

      p {
        color: gray;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
}
