.products {
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
        }
      }
    }
    
    .mobile-filters {
      display: none;
    }
  }

  .right {
    flex: 3;

    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
      position: relative;
    }

    .cat-title {
      position: absolute;
      color: white;
      font-size: 50px;
      letter-spacing: .5rem;
      text-align:center;
      top: 26%;
      width: 70%
    }
  }

  @media (max-width: 767px) {
    & {
      flex-direction: column;
      padding: 15px;

      .left {
        position: static;
        margin-bottom: 1rem;

        .desktop-filters {
          display: none;
        }

        .mobile-filters {
          display: block;
          height: 50px;

          .catImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 1rem;
            position: relative;
          }

          .cat-title {
            position: absolute;
            color: white;
            font-size: 40px;
            letter-spacing: .5rem;
            text-align:center;
            top: 22%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          
          .collapsible-section {
            display: block;
            border: 1px solid #000;
            width: 50%;
            float: left;
            padding: 12px;
          }

          .filterBtn {
            display: block;
            float: left;
            border: none;
            background: none;
            margin-left: 25px;
            color: #000;
            svg {
              font-size: 45px;
              font-weight: 200;
            }
          }

          .filterModal{
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 4;
            .filter-header {
              display: block;
              position: relative;
              border-bottom: 1px solid #ccc;
              padding: 18px 0;
              margin-bottom: 1rem;
              text-align: center;
              font-weight: 700;
              font-size: 0.875rem;
              letter-spacing: 0.125em;
              text-transform: uppercase;
              .closeModel {
                position: absolute;
                top: 0;
                right: 0;
                padding: 12px;
                cursor: pointer;
              }
            }
            .filter-body {
              display: flex;
              flex-flow: column;
              justify-content: space-around;
              align-items: center;
              gap: 10px;

              .collapsible-section {
                display: block;
                border: none;
                border-bottom: 1px solid #000;
                // padding-bottom: 6px;
                // margin-bottom: 15px;
                width: 90%;
                float: left;
                padding: 12px;
              }    
            }
          }

        }
      }

      .right {
        .cat-title {
          display: none;
        }
        .catImg{
          display: none;
        }
      }
    }
  }
}
