.navbar {
  height: 80px;
  position: relative;

  .desktop-navbar {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .left-navbar {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center-navbar {
      display: flex;
      align-items: center;
      gap: 25px;

      img {
        height: 50px;
        width: 65px;
      }
    }

    .right-navbar {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #729343;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .mobile-navbar {
    display: none;
  }


  @media (max-width: 767px) {
    & {
      height: 59px;

      .desktop-navbar {
        display: none;
      }

      .mobile-navbar {
        display: flex;
        position: relative;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        .mobile-navbar-button {
          border: none;
          background: none;
          color: #000;
          cursor: pointer;
          position: absolute;
          border: none;
          display: block;
          float: left;
          margin-left: 20px;
          min-height: 0;
          line-height: normal;
          padding: 0;
          width: 30px;

          .menuIcon {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .logoIcon {
        display: flex;
        justify-content: center;
        margin: 15px auto;
        height: 30px;
        width: 120px;
        img {
          max-height: 100%;
          max-width: 95%;
        }
      }
      .searchIcon {
        position: absolute;
        left: 4rem;
      }
      .cartIcon {
        position: absolute;
        right: 19px;
        top: 18px;
      }
      .navbar-links.hidden {
        display: none;
      }
      .navbar-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: flex-start;
        align-items: center;
        top: 100%;
        height: calc(100vh - 59px);
        width: 100%;
        padding: 1rem;
        background-color: #fff;
        z-index: 999;
        cursor: pointer;
      }

      .navbar-links.active a {
        width: 100%;
        padding: 20px 23px 15px;
        font-weight: 700;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 1.5em;
      }
    }
  }
}
